<header class="header">
    <a href="/" class="header__logo">nodeJs</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" >Home</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/about" >About</a>
            </li>
        </ul>
        <ul>
        <li>
            <a href="/contact" >contact</a>
        </li>
    </ul>
    </nav>

    <div class="header__button">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
</header>